@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    @theme {
        /* Light Theme */
        --color-surface: var(--color-slate-100);
        --color-surface-alt: var(--color-slate-50);
        --color-on-surface: var(--color-slate-800);
        --color-on-surface-strong: var(--color-slate-900);
        --color-primary: var(--color-indigo-500);
        --color-on-primary: var(--color-slate-50);
        --color-secondary: var(--color-slate-600);
        --color-on-secondary: var(--color-slate-50);
        --color-outline: var(--color-neutral-300);
        --color-outline-strong: var(--color-neutral-800);

        /* Dark Theme */
        --color-surface-dark: var(--color-slate-950);
        --color-surface-dark-alt: var(--color-slate-800);
        --color-on-surface-dark: var(--color-slate-200);
        --color-on-surface-dark-strong: var(--color-slate-50);
        --color-primary-dark: var(--color-slate-100);
        --color-on-primary-dark: var(--color-slate-950);
        --color-secondary-dark: var(--color-slate-400);
        --color-on-secondary-dark: var(--color-slate-950);
        --color-outline-dark: var(--color-neutral-700);
        --color-outline-dark-strong: var(--color-neutral-300);

        /* Shared Colors */
        --color-info: var(--color-sky-500);
        --color-on-info: var(--color-white);
        --color-success: var(--color-green-500);
        --color-on-success: var(--color-white);
        --color-warning: var(--color-amber-500);
        --color-on-warning: var(--color-white);
        --color-danger: var(--color-red-500);
        --color-on-danger: var(--color-white);

        /* Border Radius */
        --radius-radius: var(--radius-md);
    }
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.large-icon {
    font-size: 32px;
}

.small-icon {
    font-size: 20px;
}

tr > td{
    vertical-align: middle;
    text-align: left;
}
