@tailwind utilities;
@import "tailwindcss";
@source "../views";

@theme {
    /* Fonts */
    --font-title: 'Poppins', sans-serif;
    --font-paragraph: 'Inter', sans-serif;

   /* Light Themes */
    --color-surface: var(--color-white);
    --color-surface-alt: var(--color-neutral-100);
    --color-on-surface: var(--color-neutral-600);
    --color-on-surface-strong: var(--color-neutral-900);
    --color-primary: var(--color-black);
    --color-on-primary: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-800);
    --color-on-secondary: var(--color-white);
    --color-outline: transparent;
    --color-outline-strong: var(--color-neutral-800);

    /* Dark Theme */
    --color-surface-dark: var(--color-neutral-950);
    --color-surface-dark-alt: var(--color-neutral-800);
    --color-on-surface-dark: var(--color-neutral-400);
    --color-on-surface-dark-strong: var(--color-neutral-100);
    --color-primary-dark: var(--color-white);
    --color-on-primary-dark: var(--color-black);
    --color-secondary-dark: var(--color-neutral-300);
    --color-on-secondary-dark: var(--color-black);
    --color-outline-dark: var(--color-neutral-700);
    --color-outline-dark-strong: var(--color-neutral-300);

    /* Shared Colors */
    --color-info: var(--color-sky-500);
    --color-on-info: var(--color-white);
    --color-success: var(--color-green-300);
    --color-on-success: var(--color-slate-900);
    --color-warning: var(--color-amber-300);
    --color-on-warning: var(--color-amber-900);
    --color-danger: var(--color-red-500);
    --color-on-danger: var(--color-white);

    /* Border Radius */
    --radius-radius: var(--radius-sm);
}

@layer base {

    [data-theme=minimal] {
        /* Fonts */
        --font-body: 'Montserrat', sans-serif;
        --font-title: 'Montserrat', sans-serif;

        /* Light Theme */
        --color-surface: var(--color-white);
        --color-surface-alt: var(--color-neutral-100);
        --color-on-surface: var(--color-neutral-600);
        --color-on-surface-strong: var(--color-neutral-900);
        --color-primary: var(--color-black);
        --color-on-primary: var(--color-neutral-100);
        --color-secondary: var(--color-neutral-800);
        --color-on-secondary: var(--color-white);
        --color-outline: var(--color-neutral-300);
        --color-outline-strong: var(--color-neutral-800);

        /* Dark Theme */
        --color-surface-dark: var(--color-neutral-950);
        --color-surface-dark-alt: var(--color-neutral-800);
        --color-on-surface-dark: var(--color-neutral-400);
        --color-on-surface-dark-strong: var(--color-neutral-100);
        --color-primary-dark: var(--color-white);
        --color-on-primary-dark: var(--color-black);
        --color-secondary-dark: var(--color-neutral-300);
        --color-on-secondary-dark: var(--color-black);
        --color-outline-dark: var(--color-neutral-700);
        --color-outline-dark-strong: var(--color-neutral-300);

        /* Shared Colors */
        --color-info: var(--color-sky-500);
        --color-on-info: var(--color-white);
        --color-success: var(--color-green-300);
        --color-on-success: var(--color-slate-900);
        --color-warning: var(--color-amber-300);
        --color-on-warning: var(--color-amber-900);
        --color-danger: var(--color-red-500);
        --color-on-danger: var(--color-white);

        /* Border Radius */
        --radius-radius: var(--radius-none);
    }

    [data-theme=modern] {
        /* Fonts */
        --font-body: 'Lato', sans-serif;
        --font-title: 'Lato', sans-serif;

        /* Light Theme */
        --color-surface: var(--color-white);
        --color-surface-alt: var(--color-neutral-50);
        --color-on-surface: var(--color-neutral-600);
        --color-on-surface-strong: var(--color-neutral-900);
        --color-primary: var(--color-black);
        --color-on-primary: var(--color-neutral-100);
        --color-secondary: var(--color-neutral-800);
        --color-on-secondary: var(--color-white);
        --color-outline: var(--color-neutral-300);
        --color-outline-strong: var(--color-neutral-800);

        /* Dark Theme */
        --color-surface-dark: var(--color-neutral-950);
        --color-surface-dark-alt: var(--color-neutral-900);
        --color-on-surface-dark: var(--color-neutral-300);
        --color-on-surface-dark-strong: var(--color-white);
        --color-primary-dark: var(--color-white);
        --color-on-primary-dark: var(--color-black);
        --color-secondary-dark: var(--color-neutral-300);
        --color-on-secondary-dark: var(--color-black);
        --color-outline-dark: var(--color-neutral-700);
        --color-outline-dark-strong: var(--color-neutral-300);

        /* Shared Colors */
        --color-info: var(--color-sky-500);
        --color-on-info: var(--color-white);
        --color-success: var(--color-green-500);
        --color-on-success: var(--color-white);
        --color-warning: var(--color-amber-500);
        --color-on-warning: var(--color-white);
        --color-danger: var(--color-red-500);
        --color-on-danger: var(--color-white);

        /* Border Radius */
        --radius-radius: var(--radius-sm);
    }

    [data-theme=halloween] {
        /* Fonts */
        --font-body: 'Poppins', sans-serif;
        --font-title: 'Denk One', sans-serif;

        /* Light Theme */
        --color-surface: var(--color-white);
        --color-surface-alt: var(--color-gray-100);
        --color-on-surface: var(--color-slate-600);
        --color-on-surface-strong: var(--color-purple-800);
        --color-primary: var(--color-orange-400);
        --color-on-primary: var(--color-slate-100);
        --color-secondary: var(--color-purple-600);
        --color-on-secondary: var(--color-slate-100);
        --color-outline: var(--color-gray-200);
        --color-outline-strong: var(--color-orange-500);

        /* Dark Theme */
        --color-surface-dark: var(--color-black);
        --color-surface-dark-alt: var(--color-gray-900);
        --color-on-surface-dark: var(--color-violet-100);
        --color-on-surface-dark-strong: var(--color-white);
        --color-primary-dark: var(--color-lime-400);
        --color-on-primary-dark: var(--color-black);
        --color-secondary-dark: var(--color-fuchsia-600);
        --color-on-secondary-dark: var(--color-white);
        --color-outline-dark: var(--color-slate-700);
        --color-outline-dark-strong: var(--color-purple-600);

        /* Shared Colors */
        --color-info: var(--color-sky-500);
        --color-on-info: var(--color-slate-100);
        --color-success: var(--color-green-400);
        --color-on-success: var(--color-slate-900);
        --color-warning: var(--color-amber-500);
        --color-on-warning: var(--color-slate-900);
        --color-danger: var(--color-red-500);
        --color-on-danger: var(--color-slate-100);

        /* Border Radius */
        --radius-radius: var(--radius-xl);
    }

    [data-theme=zombie] {
        /* Fonts */
        --font-body: 'Montserrat', sans-serif;
        --font-title: 'Denk One', sans-serif;

        /* Light Theme */
        --color-surface: var(--color-violet-50);
        --color-surface-alt: var(--color-violet-100);
        --color-on-surface: var(--color-slate-600);
        --color-on-surface-strong: var(--color-purple-800);
        --color-primary: var(--color-orange-400);
        --color-on-primary: var(--color-slate-100);
        --color-secondary: var(--color-purple-600);
        --color-on-secondary: var(--color-slate-100);
        --color-outline: var(--color-gray-200);
        --color-outline-strong: var(--color-slate-800);

        /* Dark Theme */
        --color-surface-dark: var(--color-indigo-950);
        --color-surface-dark-alt: var(--color-violet-950);
        --color-on-surface-dark: var(--color-violet-100);
        --color-on-surface-dark-strong: var(--color-white);
        --color-primary-dark: var(--color-orange-600);
        --color-on-primary-dark: var(--color-slate-100);
        --color-secondary-dark: var(--color-lime-500);
        --color-on-secondary-dark: var(--color-black);
        --color-outline-dark: var(--color-slate-700);
        --color-outline-dark-strong: var(--color-slate-400);

        /* Shared Colors */
        --color-info: var(--color-sky-500);
        --color-on-info: var(--color-slate-100);
        --color-success: var(--color-green-400);
        --color-on-success: var(--color-slate-900);
        --color-warning: var(--color-amber-500);
        --color-on-warning: var(--color-slate-900);
        --color-danger: var(--color-red-500);
        --color-on-danger: var(--color-slate-100);

        /* Border Radius */
        --radius-radius: var(--radius-xl);
    }

    [data-theme=christmas] {
        /* Fonts */
        --font-body: 'Lato', sans-serif;
        --font-title: 'Jost', sans-serif;

        /* Light Theme */
        --color-surface: var(--color-white);
        --color-surface-alt: var(--color-emerald-50);
        --color-on-surface: var(--color-neutral-700);
        --color-on-surface-strong: var(--color-emerald-800);
        --color-primary: var(--color-red-600);
        --color-on-primary: var(--color-white);
        --color-secondary: var(--color-emerald-700);
        --color-on-secondary: var(--color-white);
        --color-outline: var(--color-neutral-300);
        --color-outline-strong: var(--color-neutral-800);

        /* Dark Theme */
        --color-surface-dark: var(--color-emerald-950);
        --color-surface-dark-alt: var(--color-emerald-800);
        --color-on-surface-dark: var(--color-neutral-200);
        --color-on-surface-dark-strong: var(--color-amber-100);
        --color-primary-dark: var(--color-red-600);
        --color-on-primary-dark: var(--color-white);
        --color-secondary-dark: var(--color-emerald-600);
        --color-on-secondary-dark: var(--color-white);
        --color-outline-dark: var(--color-emerald-900);
        --color-outline-dark-strong: var(--color-white);

        /* Shared Colors */
        --color-info: var(--color-cyan-500);
        --color-on-info: var(--color-black);
        --color-success: var(--color-emerald-500);
        --color-on-success: var(--color-black);
        --color-warning: var(--color-amber-500);
        --color-on-warning: var(--color-black);
        --color-danger: var(--color-red-500);
        --color-on-danger: var(--color-black);

        /* Border Radius */
        --radius-radius: var(--radius-md);
    }

    [data-theme=industrial] {
        /* Fonts */
        --font-body: 'Poppins', sans-serif;
        --font-title: 'Oswald', sans-serif;

        /* Light Theme */
        --color-surface: var(--color-stone-50);
        --color-surface-alt: var(--color-stone-200);
        --color-on-surface: var(--color-stone-800);
        --color-on-surface-strong: var(--color-black);
        --color-primary: var(--color-amber-500);
        --color-on-primary: var(--color-black);
        --color-secondary: var(--color-stone-900);
        --color-on-secondary: var(--color-stone-50);
        --color-outline: var(--color-stone-300);
        --color-outline-strong: var(--color-blue-600);

        /* Dark Theme */
        --color-surface-dark: var(--color-stone-950);
        --color-surface-dark-alt: var(--color-stone-900);
        --color-surface-dark-even: var(--color-stone-800);
        --color-surface-dark-odd: var(--color-stone-700);
        --color-on-surface-dark: var(--color-stone-300);
        --color-on-surface-dark-strong: var(--color-white);
        --color-primary-dark: var(--color-amber-400);
        --color-on-primary-dark: var(--color-black);
        --color-secondary-dark: var(--color-slate-700);
        --color-on-secondary-dark: var(--color-white);
        --color-outline-dark: var(--color-stone-700);
        --color-outline-dark-strong: var(--color-blue-500);

        /* Shared Colors */
        --color-info: var(--color-sky-600);
        --color-on-info: var(--color-slate-100);
        --color-success: var(--color-green-600);
        --color-on-success: var(--color-white);
        --color-warning: var(--color-amber-500);
        --color-on-warning: var(--color-black);
        --color-danger: var(--color-red-600);
        --color-on-danger: var(--color-white);

        /* Border Radius */
        --radius-radius: var(--radius-none);
    }

}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.large-icon {
    font-size: 32px;
}

.small-icon {
    font-size: 20px;
}

.information-icon {
    font-size: 16px;
}

/**TODO: need js logic to add/remove dark class on html tag (see: admin.blade.php) */

/** DATATABLE STYLE */
/** datatable searchbar  */
#dt-search-0 {
    border: 1px solid var(--color-outline);
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius-radius);
    margin-left: 0.5rem;
    background-color: var(--color-surface-alt);
    color: var(--color-on-surface);
    transition: all 0.2s ease;
}

#dt-search-0::placeholder {
    color: var(--color-outline);
}

#dt-search-0:focus {
    border-color: var(--color-primary);
    outline: none;
    box-shadow: 0 0 0 1px rgba(var(--color-primary), 0.5);
}

#dt-search-0:focus::placeholder {
    color: var(--color-outline-dark);
}

.dark #dt-search-0 {
    background-color: var(--color-surface-dark-alt);
    border-color: var(--color-outline-dark);
    color: var(--color-on-surface-dark);
}

.dark #dt-search-0::placeholder {
    color: var(--color-outline);
}

.dark #dt-search-0:focus {
    border-color: var(--color-primary-dark);
    box-shadow: 0 0 0 1px rgba(var(--color-primary-dark), 0.5);
}

.dark #dt-search-0:focus::placeholder {
    color: var(--color-outline);
}

/** datatable select menu  */
#dt-length-0 {
    border: 1px solid var(--color-outline);
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius-radius);
    background-color: var(--color-surface-alt);
    color: var(--color-on-surface);
}

#dt-length-0:focus {
    border-color: var(--color-primary);
    ring: 0px solid var(--color-primary);
    border-radius: var(--radius-radius);
    outline: none;
    box-shadow: 0 0 0 3px rgba(var(--color-primary), 0.5);
}

.dark #dt-length-0 {
    border: 1px solid var(--color-outline-dark);
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius-radius);
    background-color: var(--color-surface-dark-alt);
    color: var(--color-on-surface-dark);
}

.dark #dt-length-0:focus {
    border-color: var(--color-primary-dark);
    ring: 1px solid var(--color-primary-dark);
    outline: none;
    box-shadow: 0 0 0 3px rgba(var(--color-primary-dark), 0.5);
}

.dark #dt-length-0:hover option[value="100"] {
    background-color: rgba(var(--color-primary-dark), 0.5);
}

/** datatable pagination */
.dt-paging .pagination a {
    background-color: var(--color-surface-alt);
    border-radius: var(--radius-radius);
    border: 1px solid var(--color-outline);
}

.dark .dt-paging .pagination a {
    background-color: var(--color-surface-dark-alt);
    border: 1px solid var(--color-outline-dark);
}

.dt-paging .pagination a:hover {
    background-color: var(--color-surface);
}

.dark .dt-paging .pagination a:hover {
    background-color: var(--color-surface-dark);
}

.dt-paging .pagination a[aria-current="page"] {
    background-color: var(--color-surface);
}

.dark .dt-paging .pagination a[aria-current="page"] {
    background-color: var(--color-surface-dark);
}

.dt-paging .pagination a[aria-current="page"]:focus {
    outline: 1px solid var(--color-primary);
}

.dark .dt-paging .pagination a[aria-current="page"]:focus {
    outline: 1px solid var(--color-primary-dark);
}

/** datatable general */
table.dataTable th {
    background-color: var(--color-surface);
}

.dark table.dataTable th {
    background-color: var(--color-surface-dark-alt);
}

table.dataTable tr:nth-child(odd) {
    background-color: var(--color-surface);
}

table.dataTable tr:nth-child(even) {
    background-color: var(--color-surface-alt);
}

.dark table.dataTable tr:nth-child(odd) {
    background-color: var(--color-surface-dark-odd);
}

.dark table.dataTable tr:nth-child(even) {
    background-color: var(--color-surface-dark-even);
}

table.dataTable td {
    vertical-align: middle;
    text-align: left;
}
table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-status, table.dataTable td.dt-type-date, table.dataTable thead {
    text-align: left;
}

table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc, table.dataTable thead > tr > td.dt-orderable-asc, table.dataTable thead > tr > td.dt-orderable-desc {
    text-align: left;
}
